/*Formulario*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

/*navegador*/
.wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
}

/*nombre*/
.wrapper .nombre{
    padding: 20px;
    font-size: 20px;
    background-color: blueviolet;
}

.wrapper .nombre span{
    color:aqua;
}

.wrapper .navegador{
    display: flex;
    justify-content: space-around;
    padding: 1px;;
    background-color: blueviolet;
}

/*lista none*/
.wrapper .navegador li{
    list-style: none;
    margin-top: 10px;
}

li{
    padding: 15px;
    border-radius: 10px;
}
a{
    color: #fff;
}
a:hover{
    text-decoration: none;
    font-size: 30px;
    transition: .3s ease-in-out;
}
.wrapper .navegador li:hover{
    background-color:#9f57c5;
    transition: ease-in .4s;
    box-shadow: 0 2px 3px 0 #fff;
}
.wrapper .navegador li a:hover{
    color:aqua;
}

/*Formulario*/

body{
    background-color:#9f57c5;
}
    
@media(max-width: 800px){
    .contact-wrapper{
        display: grid;
        grid-template-columns: 50%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
      
    }
    
}